<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Skills</h1>
    <h3>Skills as of <%= time %>
    </h3>
    <ul>
        <% skills.forEach(function(s) { %>
            <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <li>
                <%= s.skill %>
                    -
                    <a href="/skills/<%= s.id %>">
                        details
                    </a>
            </li>
            <% }); %>
    </ul>
    <a href="/skills/new">Add A New Skill</a>
</body>

</html>